.keypad {
  border: 1px black solid;
  display: inline-block;
  font-family: monospace;
}

.numberButtons {
  button {
    margin: 0.5em;
    width: 1.5em;
    font-size: large;
  }
}

.screen {
  width: 95px;
  height: 1em;
  margin-left: 20px;
  border: 1px black solid;
  border-radius: 2%;
  padding: 0.2em;
}

.closeButton {
  vertical-align: top;
}

.neutral {
  background-color: white;
}

.correct {
  background-color: lightblue;
}

.incorrect {
  -webkit-animation-name: flash;
  -webkit-animation-duration: 600ms;
  animation-name: flash;
  animation-duration: 600ms;
}

@keyframes flash {
  0%,
  50%,
  100% {
    background-color: red;
  }
  25%,
  75% {
    background-color: white;
  }
}
